@model WebApps.Models.FullPostViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <br />
    <h4>@Html.DisplayFor(model => model.Post.Title)</h4>
    <hr />
    <p class="PostContent">@Html.DisplayFor(model => model.Post.PostText)</p>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.NoOfComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.NoOfComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.DatePosted)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Details">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="PostID" value="@Model.Post.PostId" />
        <div>
            <textarea asp-for="Comment" placeholder="Comment on this post..." class="commentBox"></textarea>
            <span asp-validation-for="Comment"></span>
            <input type="submit" value="Comment" class="customButton"/>
        </div>
    </form>
</div>
<div>
    @foreach (Comment comment in Model.Comments)
    {
        <div>
            <ul>
                <li>
                    <p>@Html.DisplayFor(modelItem => comment.CommentText)</p>
                    <p>
                        &nbsp; &nbsp; @Html.DisplayFor(modelItem => comment.OwnerUserName) &nbsp; &nbsp;
                        @Html.DisplayFor(modelItem => comment.DatePosted)&nbsp; &nbsp;
                        <a asp-controller="Home" asp-action="Like" asp-route-CommentId="@comment.CommentId"
                           asp-route-PostID="@Model.Post.PostId">Likes</a> @Html.DisplayFor(modelItem => comment.NoOfLikes)
                    </p>
                    <div>
                        
                    </div>
                    <hr />
                </li>
            </ul>
        </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    $("#myLink").click(function (e) {

        e.preventDefault();
        $.ajax({

            url: $(this).attr("href"), // comma here instead of semicolon   
            success: function () {
                alert("Value Added");  // or any other indication if you want to show
            }

        });

    });
</script>